{% extends "sprout-module-core/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set currentSubNavKey = 'email-types' %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <div class="btn menubtn submit add icon">
                {{ "New Email Type"|t('sprout-module-mailer') }}
            </div>
            <div class="menu">
                <ul>
                    {% for emailType in emailTypeTypes %}
                        <li>
                            {{ tag('a', {
                                href: cpUrl('sprout/settings/email-types/new', {
                                    type: className(emailType),
                                }),
                                text: emailType.displayName(),
                                class: 'menu-option',
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% set tableData = [] %}

{% if emailTypes|length %}
    {% for emailType in emailTypes %}

        {% set tableData = tableData|merge([{
            id: emailType.uid,
            labelHtml: {
                url: emailType.getCpEditUrl(),
                name: emailType.name ?? emailType.displayName()
            },
            emailTypeType: emailType.displayName,
            title: emailType.name|t('sprout-module-mailer')|e,
            url: emailType.getCpEditUrl(),
            _showDelete: true,
        }]) %}

    {% endfor %}
{% endif %}

{% block content %}

    <div
        id="admin-table"
        data-table-data="{{ tableData|json_encode }}">
    </div>

    <br>
    <div class="readable">
        <blockquote class="tip note">
            {{ "Email types define the templates, fields, and other settings for a given email."|t('sprout-module-mailer') }}
        </blockquote>
    </div>

{% endblock %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do sprout.modules.core.vite.register('mailer/EmailTypesSettings.js', false) %}

 {% js on ready %}

     new EmailTypesSettings('#admin-table');

 {% endjs %}
