{% extends "sprout-module-mailer/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit Subscriber"|t('sprout-module-mailer') %}

{% if craft.app.request.getSegment(3) == 'new' %}
    {% set title = "New Subscriber"|t('sprout-module-mailer') %}
{% endif %}

{% set crumbs = [
    { label: "Email"|t('sprout-module-mailer'), url: cpUrl('sprout/email') },
    { label: "Subscribers"|t('sprout-module-mailer'), url: cpUrl('sprout/email/subscribers') },
] %}

{% set fullPageForm = true %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save List'|t('sprout-module-mailer') }}">

            {# {% if list.id %} #}
            <div class="btn submit menubtn"></div>
            <div class="menu">
                <hr>
                <ul>
                    <li><a class="formsubmit error"
                            data-action="sprout-module-mailer/subscribers/delete-subscriber"
                            data-confirm="{{ 'Are you sure you want to delete this List?'|t('sprout-module-mailer') }}"
                            data-redirect="{{ redirectUrl|hash }}">{{ "Delete"|t('sprout-module-mailer') }}</a>
                    </li>
                </ul>
            </div>
            {# {% endif %} #}
        </div>
    </div>
{% endblock %}

{% set saveShortcutRedirect = continueEditingUrl %}

{% block content %}

    {% include 'sprout-module-mailer/subscribers/_fields' %}

{% endblock %}
