{% extends "sprout-module-forms/_layouts/elementindex" %}

{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set module = sprout.modules.forms %}

{% set canCreateForm = sprout.modules.forms.forms.canCreateForm() %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <div class="btn menubtn submit add icon">
                {{ "New Form"|t('sprout-module-forms') }}
            </div>
            <div class="menu">
                <ul>
                    {% for formTypeUid, formType in formTypes %}
                        <li>
                            {{ tag('a', {
                                href: cpUrl('sprout/forms/forms/new', {
                                    formTypeUid: formTypeUid,
                                }),
                                text: formType.name,
                                class: 'menu-option',
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {{ sproutCp.upgradeToProButton(module) }}
    </div>
{% endblock %}

{% block sidebar %}

    {% set customizableSources = false %}

    {{ parent() }}

{% endblock %}

{% js on ready %}
    {% if not canCreateForm %}
        $('#create-new-form').on('click', function(e) {
        e.preventDefault();
        });
    {% endif %}
{% endjs %}

{% css %}
    .element.small.hasstatus
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}
