{% import "_includes/forms" as forms %}
{% import "sprout-module-meta/_macros/meta" as sproutMetaCp %}

{% set transformOptions = sprout.modules.meta.globalMetadata.getTransforms() %}

<div class="sprout-box-opengraph">

    <div class="sprout-fields" id="open-graph">

        {% set ogTypesOptions = {
            '' : 'Select...'|t('sprout-module-meta'),
            'article' : 'Article'|t('sprout-module-meta'),
            'website' : 'Website'|t('sprout-module-meta'),
        } %}

        {{ forms.selectField({
            label: 'Open Graph Type'|t('sprout-module-meta'),
            instructions: 'First, select your Open Graph Type. Learn more about <a href="https://developers.facebook.com/docs/reference/opengraph#object-type" target="_blank">How Open Graph Stories work.</a>'|t('sprout-module-meta'),
            name: field.handle~'[metadata][ogType]',
            options: ogTypesOptions,
            value: meta.ogType,
            errors: "",
            required: false
        }) }}

        {{ forms.textField({
            label: "Title"|t('sprout-module-meta'),
            instructions: 'The Title of your content which will appear in Open Graph metadata.'|t('sprout-module-meta'),
            name: field.handle~"[metadata][ogTitle]",
            value: meta.ogTitle
        }) }}

        {{ forms.textareaField({
            label: "Description"|t('sprout-module-meta'),
            instructions: 'A description of your content which will appear in Open Graph metadata.'|t('sprout-module-meta'),
            name: field.handle~"[metadata][ogDescription]",
            value: meta.ogDescription
        }) }}

        {% set ogImageId = sprout.modules.meta.optimizeMetadata.getImageId(meta.ogImage ?? null) %}
        {% if ogImageId %}
            {% set ogImageElement = [craft.app.elements.getElementById(ogImageId)] %}
        {% else %}
            {% set ogImageElement = [] %}
        {% endif %}

        {% set hasVolumes = craft.app.getVolumes().getAllVolumes() %}

        {% set imageElementSelect = forms.elementSelect({
            elements: ogImageElement,
            sourceElementId: [meta.ogImage],
            elementType: 'craft\\elements\\Asset',
            sources: '*',
            id: 'metaDetailsOgImage',
            name: field.handle~'[metadata][ogImage]',
            jsClass: 'Craft.AssetSelectInput',
            addButtonLabel: 'Select Image'|t('sprout-module-meta'),
            limit: 1,
            criteria: {kind: ['image'], siteId : null}
        }) %}

        {{ forms.field({
            label: 'Image'|t('sprout-module-meta'),
            instructions: 'An image that represents your content that will display in Open Graph metadata.'|t('sprout-module-meta'),
            tip: not hasVolumes ? 'Add a volume to manage the Meta Image'|t('sprout-module-meta') : null,
        }, hasVolumes ? imageElementSelect : '') }}

    </div>

</div>





