{% extends "_layouts/base" %}

{% set title = "Preview"|t('sprout-base-email') %}

{% block body %}
    <div class="email-preview-header">
        <div class="btngroup email-preview-btngroup">
            <button data-preview-target="html"
                class="btn active email-preview-btn preview-html-btn">{{ 'HTML'|t('sprout-base-email') }}</button>
            <button data-preview-target="text"
                class="btn email-preview-btn preview-text-btn">{{ 'Text'|t('sprout-base-email') }}</button>
        </div>
    </div>

    {% block previewBody %}
    {% endblock %}

    {% js %}

        {% set isText = (craft.app.request.getParam('type') == 'text') ? true : false %}

        {% if isText == true %}
            jQuery(document).ready(function() {
            jQuery('.preview-text-btn').click();
            });
        {% endif %}

        jQuery(".email-preview-btn").click(function() {

        jQuery(".email-preview-btn").removeClass('active');
        jQuery(this).addClass('active');

        var previewTarget      = jQuery(this).data('preview-target');
        var previewTargetClass = ".email-preview-" + previewTarget;

        jQuery('.email-preview-pane').removeClass('active');
        jQuery(previewTargetClass).addClass('active');

        })

    {% endjs %}

    <style>

        html {
            overflow: hidden;
            height: 100%;
        }

        body {
            background: #fff;
            box-sizing: border-box;
            height: 100%;
            margin: 0;
            padding-top: 60px;
            width: 100%;
        }

        iframe {
            border: 0;
            height: 100%;
            width: 100%;
        }

        /* Preview Header */
        .email-preview-header {
            border-bottom: 1px solid #eeeeee;
            padding-right: 20px;
            position: fixed;
            height: 60px;
            top: 0;
            width: 100%;
        }

        .email-preview-btngroup {
            border: 1px solid #ccc;
            border-radius: 6px;
            float: right;
            margin: 15px 15px;
        }

        .email-preview-btngroup .btn {
            background: none;
            border: none;
            padding: 6px 12px;
            outline: none;
            font-size: 12px;
            font-weight: bold;
            color: #6a6a6a;
            float: left;
            height: 30px;
            vertical-align: middle;
            margin: 0;
        }

        .email-preview-btngroup .btn.preview-html-btn {
            border-right: 1px solid #ccc;
            margin-right: 0 !important;
        }

        .email-preview-btngroup .btn.preview-text-btn {
            padding-right: 16px;
        }

        .email-preview-btngroup .btn:hover {
            cursor: pointer;
        }

        .email-preview-btngroup .btn.active {
            background-image: -webkit-linear-gradient(#e4e5e7, #eaebec);
            background-image: -moz-linear-gradient(#e4e5e7, #eaebec);
            background-image: -ms-linear-gradient(#e4e5e7, #eaebec);
            background-image: -o-linear-gradient(#e4e5e7, #eaebec);
            background-image: linear-gradient(#e4e5e7, #eaebec);
        }

        /* Body */
        .email-preview-pane {
            display: none;
            height: 100%;
        }

        .email-preview-pane.active {
            display: block;
        }

        /* Text Preview Body */
        .email-preview-text {
            margin: 10px;
        }

        .email-preview-text pre {
            height: auto;
            min-height: 500px;
            max-height: 500px;
            white-space: pre-wrap;
            width: 100%;
        }

    </style>

{% endblock %}