{% extends "sprout-module-meta/_layouts/global-metadata" %}
{% import "_includes/forms" as forms %}
{% import "sprout-module-core/_macros/forms" as sproutFields %}
{% import "sprout-module-meta/_macros/meta" as sproutMetaCp %}

{% block content %}

    {{ actionInput('sprout-module-meta/global-metadata/save-global-metadata') }}
    {{ hiddenInput('globalColumn', 'social') }}
    {{ hiddenInput('siteId', globals.siteId) }}

    {{ forms.editableTableField({
        label: "Social Profiles"|t('sprout-module-meta') ~ sproutMetaCp.infoIcon({
            label: "Social Profiles"|t('sprout-module-meta'),
            search: true,
            structured: true,
            openGraph: true,
            twitterCard: true,
            priority: 'globals'
        }),
        instructions: "Manage Social Profiles for your website. <a href='https://developers.google.com/search/docs/data-types/social-profile' target='_blank'>Social Profile</a> metadata is automatically detected and displayed in the Google Knowledge panel."|t('sprout-module-meta'),
        id: 'sites',
        name: 'meta[globals][social]',
        cols: {
            url: {
                type: 'autosuggest',
                heading: "Social Profile URL"|t('sprout-module-meta'),
                info: "The URL that represents your social profile"|t('sprout-module-meta'),
                placeholder: 'https://www.website.com/ProfileName'|t('sprout-module-meta'),
                code: true,
                suggestions: [
                    {
                        label: 'Common Services'|t('sprout-module-meta'),
                        data: [
                        { name: 'https://www.facebook.com/ProfileName', hint: 'Facebook'|t('sprout-module-meta') },
                        { name: 'https://twitter.com/ProfileName', hint: 'Twitter'|t('sprout-module-meta') },
                        { name: 'https://www.instagram.com/ProfileName', hint: 'Instagram'|t('sprout-module-meta') },
                        { name: 'https://www.youtube.com/c/ChannelName', hint: 'YouTube'|t('sprout-module-meta') },
                        { name: 'https://www.linkedin.com/in/ProfileName', hint: 'LinkedIn'|t('sprout-module-meta') },
                        { name: 'https://www.pinterest.com/ProfileName', hint: 'Pinterest'|t('sprout-module-meta') },
                        { name: 'https://soundcloud.com/ProfileName', hint: 'SoundCloud'|t('sprout-module-meta') },
                        { name: 'https://profilename.tumblr.com/', hint: 'Tumblr'|t('sprout-module-meta') },
                        { name: 'https://medium.com/profile-name', hint: 'Medium'|t('sprout-module-meta') },
                        { name: 'https://publication-name.substack.com/', hint: 'Substack'|t('sprout-module-meta') },
                    ]
                    }
                ]
            },
            profileName: {
                type: 'singleline',
                heading: "Profile Name"|t('sprout-module-meta'),
                info: "The name of the person or organization the social profile represents."|t('sprout-module-meta'),
                placeholder: 'Profile Name'|t('sprout-module-meta'),
                code: true,
            },
        }|filter,
        rows: globals.social ?? [],
        errors: []|unique,
        allowAdd: true,
        allowReorder: true,
        allowDelete: true,
    }) }}

{% endblock %}
