{% import "_includes/forms" as forms %}

{% set module = sprout.modules.forms %}
{% set settings = module.getSettings() %}

<p>List all notifications associated with this Form and give a user a way to create a new Notification.</p>

