{% import "_includes/forms" as forms %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set module = sprout.modules.forms %}
{% set settings = module.getSettings() %}

{{ sproutCp.relationsTable(form.getReports()) }}

<div style="margin: var(--row-gap) 0 0; text-align: right;">
    <a
        href="{{ newDataSetCpEditUrl }}"
        target="_blank"
        class="btn secondary add icon"
    >
        {{ 'New Data Set'|t('sprout-module-forms') }}
    </a>
</div>
