{% import "_includes/forms" as forms %}

{% set dateRange = settings.dateRange is defined ? settings.dateRange : 'customRange' %}

{{ forms.selectField({
    id: "dateRange",
    name: "settings[dateRange]",
    label: "Date Range"|t('sprout-module-data-studio'),
    options: dateRanges,
    value: dateRange,
    toggle: true,
    targetPrefix: 'sprout-date-range-',
    first: true,
}) }}

<div id="sprout-date-range-customRange" class="field{% if dateRange != 'customRange' %} hidden{% endif %}">
    {{ forms.dateTimeField({
        label: "Start Date"|t('sprout-module-data-studio'),
        instructions: "The start date of the date range you wish to display in your report."|t,
        id: 'startDate',
        name: 'settings[startDate]',
        value: settings.startDate is defined ? settings.startDate : defaultStartDate
    }) }}

    {{ forms.dateTimeField({
        label: "End Date"|t('sprout-module-data-studio'),
        instructions: "The end date of the date range you wish to display in your report."|t,
        id: 'endDate',
        name: 'settings[endDate]',
        value: settings.endDate is defined ? settings.endDate : defaultStartDate
    }) }}
</div>

{{ forms.lightswitchField({
    label: "Display Variants as Individual Products"|t,
    instructions: "List all product variants as individual rows on the report. i.e. A product with three variants will display as three lines instead of one."|t('sprout-module-data-studio'),
    id: 'variants',
    name: 'settings[variants]',
    on:  settings.variants is defined ? settings.variants : null,
    onLabel: "Enable"|t,
    offLabel: "Disable"|t
}) }}
