{% extends "sprout-module-core/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set currentSubNavKey = 'email-themes' %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <div class="btn menubtn submit add icon">
                {{ "New Email Theme"|t('sprout-module-mailer') }}
            </div>
            <div class="menu">
                <ul>
                    {% for emailTheme in emailThemeTypes %}
                        <li>
                            {{ tag('a', {
                                href: cpUrl('sprout/settings/email-themes/new', {
                                    type: className(emailTheme),
                                }),
                                text: emailTheme.displayName(),
                                class: 'menu-option',
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% set tableData = [] %}

{% if emailThemes|length %}
    {% for emailTheme in emailThemes %}

        {% set tableData = tableData|merge([{
            id: emailTheme.uid,
            labelHtml: {
                url: emailTheme.getCpEditUrl(),
                name: emailTheme.name ?? emailTheme.displayName()
            },
            emailThemeType: emailTheme.displayName,
            title: emailTheme.name|t('sprout-module-mailer')|e,
            url: emailTheme.getCpEditUrl(),
            _showDelete: true,
        }]) %}

    {% endfor %}
{% endif %}

{% block content %}

    <div
        id="admin-table"
        data-table-data="{{ tableData|json_encode }}">
    </div>

{% endblock %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do sprout.modules.core.vite.register('mailer/EmailThemesSettings.js', false) %}

 {% js on ready %}

     new EmailThemesSettings('#admin-table');

 {% endjs %}
