{% extends "sprout-module-core/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% set currentSubNavKey = 'mailers' %}
{% set module = sprout.modules.mailer %}
{% set settings = module.getSettings() %}

{% set mailerTypes = sprout.modules.mailer.mailers.getMailerTypes() %}
{% set mailers = sprout.modules.mailer.mailers.getMailers() %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <div class="btn menubtn submit add icon">
                {{ "New Mailer"|t('sprout-module-mailer') }}
            </div>
            <div class="menu">
                <ul>
                    {% for mailerType in mailerTypes %}
                        <li>
                            {{ tag('a', {
                                href: cpUrl('sprout/settings/mailers/new', {
                                    type: className(mailerType),
                                }),
                                text: mailerType.displayName(),
                                class: 'menu-option',
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% set tableData = [] %}

{% if mailers|length %}
    {% for mailer in mailers %}

        {% set tableData = tableData|merge([{
            id: mailer.id,
            labelHtml: {
                url: mailer.getCpSettingsUrl(),
                name: mailer.name,
            },
            mailerType: mailer.displayName(),
            title: mailer.name|t('sprout-module-mailer')|e,
            url: mailer.getCpSettingsUrl(),
        }]) %}

    {% endfor %}
{% endif %}

{% block settings %}

    {% set mailerTable %}
        <div class="sprout-settings-table-wrapper">
            <div
                id="admin-table"
                data-table-data="{{ tableData|json_encode }}">
            </div>
        </div>
    {% endset %}

    {{ forms.field({
        label: "Mailers"|t('sprout-module-mailer'),
    }, mailerTable) }}

{% endblock %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do sprout.modules.core.vite.register('mailer/MailerSettings.js', false) %}

 {% js on ready %}

     new MailerSettings('#settings-admin-table');

 {% endjs %}
