{% extends "sprout-module-core/_layouts/settings" %}

{% import "_includes/forms" as forms %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set currentSubNavKey = 'audiences' %}

{% set module = sprout.modules.mailer %}
{% set settings = module.getSettings() %}

{% block settings %} <!-- Template: {{ _self }}.twig -->

    {{ forms.lightswitchField({
        label: "Enable Audience Management",
        instructions: "Adds an Audience tab to manage audiences and mailing lists.",
        name: 'enableAudiences',
        on: settings.enableAudiences,
        first: true,
        toggle: 'sprout-audience-settings'
    }) }}

    <div id="sprout-audience-settings">

        {{ forms.lightswitchField({
            label: "Enable Subscriber List Audience Type",
            instructions: "Subscriber Lists add layer on top of Craft Users which includes a Subscriber Lists field, Subscriber List Audience Type, and Subscriber List sources in the sources sidebar of the Users Element Index page.",
            name: 'enableSubscriberLists',
            on: settings.enableSubscriberLists,
        }) }}

    </div>

{% endblock %}
