{% import "_includes/forms" as forms %}

<td colspan="2">
    {% include "sprout-module-sitemaps/_sitemapmetadata/titlecolumn" with {
        sitemapMetadata: customSection,
        isCustom: true,
    } only %}
</td>
<td>
    {{ forms.selectField({
        options: priorityList,
        value: customSection.priority,
        class: 'sitemap-priority',
        errors: "",
        required: false,
        inputAttributes: {
            'x-on:change': 'saveSitemapMetadata',
            'x-model': 'priority',
            'x-bind:value': 'priority',
        },
    }) }}
</td>
<td>
    {{ forms.selectField({
        options: frequencyList,
        value: customSection.changeFrequency,
        class: 'sitemap-change-frequency',
        errors: "",
        required: false,
        inputAttributes: {
            'x-on:change': 'saveSitemapMetadata',
            'x-model': 'changeFrequency',
            'x-bind:value': 'changeFrequency',
        },
    }) }}
</td>
<td class="enabled-status" style="text-align: center;">
    {{ forms.lightswitch({
        on: customSection.enabled == 1 ?? false,
        containerAttributes: {
            'x-on:click': 'toggleEnabledAndSaveSitemapMetadata',
            'x-model': 'enabled',
            'x-bind:value': 'enabled',
        },
    }) }}
</td>
<td>
    {{ tag('a', {
        class: 'delete icon',
        title: 'Delete'|t('sprout-module-sitemaps'),
        'x-on:click': 'deleteSitemapMetadata',
    }) }}
    <a class="" title="Delete"></a>
</td>
