{% import "_includes/forms" as forms %}

<fieldset>
    <div class="meta">

        {{ forms.selectField({
            label: 'Theme'|t('sprout-module-mailer'),
            id: 'emailThemeUid',
            name: 'emailThemeUid',
            placeholder: '_emails/folder',
            options: templateOptions,
            value: element.emailThemeUid,
            errors: element.getErrors('emailThemeUid'),
        }) }}

        {{ forms.selectField({
            label: 'Mailer'|t('sprout-module-mailer'),
            id: 'mailerType',
            name: 'mailerType',
            options: mailerTypeOptions,
            value: className(mailer),
        }) }}

    </div>
</fieldset>
