{% import "_includes/forms" as forms %}

<fieldset>
    <div class="meta">

        {{ forms.selectField({
            label: 'Theme'|t('sprout-module-mailer'),
            id: 'emailThemeUid',
            name: 'emailThemeUid',
            placeholder: '_emails/folder',
            options: templateOptions,
            value: element.emailThemeUid,
            errors: element.getErrors('emailThemeUid'),
        }) }}

        {{ forms.selectField({
            label: 'Mailer'|t('sprout-module-mailer'),
            id: 'mailerUid',
            name: 'mailerUid',
            options: mailerTypeOptions,
            value: element.mailerUid,
            errors: element.getErrors('mailerUid'),
        }) }}

    </div>
</fieldset>

{% if currentUser.admin %}
    <fieldset id="sprout-notification-event-tip" class="meta sprout-sidebar-info"></fieldset>
{% endif %}