{% extends "sprout-module-mailer/_layouts/elementindex" %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set module = sprout.modules.mailer %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <div class="btn menubtn submit add icon">
                {{ "New Email"|t('sprout-module-mailer') }}
            </div>
            <div class="menu">
                <ul>
                    {% for emailThemeUid, emailTheme in emailThemes %}
                        <li>
                            {{ tag('a', {
                                href: cpUrl(newEmailUrl, {
                                    emailThemeUid: emailThemeUid,
                                }),
                                text: emailTheme.name,
                                class: 'menu-option',
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
