{% extends "sprout-module-core/_layouts/landing" %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set title = "Upgrade to Sprout Forms Pro"|t('sprout-module-forms') %}
{% set bodyClass = 'sprout-landing-page' %}
{% set pluginStoreLink = currentUser.admin ? cpUrl('plugin-store/sprout-forms') : 'https://plugins.craftcms.com/sprout-forms' %}

{% block content %}

    <div class="sprout-landing">

        {{ parent() }}

        {{ sproutCp.featureHeader({
            heading: "Unlimited Forms. Unlimited Freedom."|t('sprout-module-forms'),
            message: "Sprout Forms [pro] gives you the freedom to create as many forms as you need &mdash; professional contact forms, landing pages, applications, CRM and email marketing integrations, and more."|t('sprout-module-forms'),
            primaryButtonText: "Upgrade Now"|t('sprout-module-forms'),
            primaryButtonLink: pluginStoreLink,
            secondaryButtonText: "Learn More"|t('sprout-module-forms'),
            secondaryButtonLink: "https://sprout.barrelstrengthdesign.com/docs/forms"
        }) }}

        {{ sproutCp.featureImage({
            imageUrl: sproutAssetUrl('forms/screenshots/feature-formbuilder-toboldlygo.png'),
            altText: 'Sprout Forms Form Builder for Craft CMS'|t('sprout-module-forms')
        }) }}

    </div>

{% endblock %}
