.sprout-results-page #btn-download-csv {
    font-size: 14px;
}

/* BASE STYLES
-----------------------------------*/

.sprout-results-page .tablecontent tr {
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.sprout-results-page .tablecontent thead tr {
    height: 12px;
}

.sprout-results-page .tablecontent td,
.sprout-results-page .tablecontent th {
    min-width: 180px;
}

.sprout-results-page .tablecontent td {
    border-right: 1px solid #eeeeee;
}

.sprout-results-page .tablecontent tr td:last-child {
    border-right: 0 solid transparent;
}

/* RESULTS DATA
-----------------------------------*/

.sprout-results-page .tableview.sprout-results-content {
    height: auto;
    overflow: hidden;
}

.sprout-results-page .dataTables_scroll th.sorting_asc,
.sprout-results-page .dataTables_scroll th.sorting_desc {
    background-attachment: initial;
    background-clip: initial;
    background-color: rgb(242, 242, 242);
    background-image: url('/static/data-studio/images/listview_sort_2x.png');
    background-origin: initial;
    background-position: 100% 7px;
    background-repeat: no-repeat;
    background-size: 26px;
}

.sprout-results-page .dataTables_scroll th.sorting_desc {
    background-position: 100% -24px;
}

.sprout-results-page .dataTables_scroll tr th:focus {
    outline: none;
}

.sprout-results-content .tablecontent tr th:first-child,
.sprout-results-content .tablecontent tr td:first-child {
    padding-left: 10px;
}

/* Adjust margin/padding */
.sprout-results-header #sprout-results_filter input {
    width: 260px;
}

.sprout-results-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-right: 4px;
    margin-top: 4px;
}

.sprout-results-header #sprout-results_length {
    flex-grow: 1;
}

#sprout-results_length,
#sprout-results_info {
    font-size: 14px;
}

#sprout-results_info {
    margin-right: 14px;
    margin-top: 1px;
    padding: 7px;
}

.sprout-results-header #sprout-results_filter {
    text-align: right;
}

#sprout-results_filter.texticon.clearable .text {
    padding-right: 7px !important;
}

#sprout-results_paginate {
    font-size: 16px;
    line-height: 1.5;
    margin-top: -8px;
    padding-top: 5px;
    text-transform: uppercase;
}

.sprout-results-page .paginate_button {
    border: 1px solid #eeeeee;
    margin-right: 7px;
    outline: none;
}

.sprout-results-page .paginate_button.page-link {
    display: inline;
    padding: 6px 15px 10px;
}

.sprout-results-page .paginate_button.previous {
    margin-left: 0;
}

.sprout-results-page .paginate_button.current {
    font-weight: bold;
}
