{% extends "sprout-module-core/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set currentSubNavKey = 'form-types' %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <div class="btn menubtn submit add icon">
                {{ "New Form Type"|t('sprout-module-forms') }}
            </div>
            <div class="menu">
                <ul>
                    {% for formType in formTypeTypes %}
                        <li>
                            {{ tag('a', {
                                href: cpUrl('sprout/settings/forms/form-types/new', {
                                    type: className(formType),
                                }),
                                text: formType.displayName(),
                                class: 'menu-option',
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% set tableData = [] %}

{% if formTypes|length %}
    {% for formType in formTypes %}

        {% set cpEditUrl = cpUrl('sprout/settings/forms/form-types/edit/' ~ formType.uid) %}

        {% set tableData = tableData|merge([{
            id: formType.uid,
            labelHtml: {
                url: cpEditUrl,
                name: formType.name ?? formType.displayName()
            },
            formTypeType: formType.displayName,
            title: formType.name|t('sprout-module-forms')|e,
            url: cpEditUrl,
            _showDelete: true,
        }]) %}

    {% endfor %}
{% endif %}

{% block content %}

    <div
        id="admin-table"
        data-table-data="{{ tableData|json_encode }}">
    </div>

    <br>
    <div class="readable">
        <blockquote class="tip note">
            {{ "When editing a form, form types will be displayed in the order they appear. The first type in the list will be selected as the default."|t('sprout-module-forms') }}
        </blockquote>
    </div>

{% endblock %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do sprout.modules.core.vite.register('forms/FormTypesSettings.js', false) %}

 {% js on ready %}

     new FormTypesSettings('#admin-table');

 {% endjs %}
