<div class="sprout-widget-number">
    <strong>{{ widget.resultPrefix }}{{ result }}</strong>
    {{ widget.description }}
</div>

<style>
    .sprout-widget-number {
        text-align: center;
    }

    .sprout-widget-number strong {
        display: block;
        font-size: 54px;
        line-height: 60px;
    }
</style>
