<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
<head>
    <title>{{ email.subjectLine }} - {{ siteName }}</title>
</head>
<body>

{% if email.defaultMessage|length %}
    <p>{{ email.defaultMessage|markdown }}</p>
{% endif %}

</body>
</html>
